%h1 Listing order_details

%table
  %tr
    %th= OrderDetail.human_attribute_name(:product)
    %th= OrderDetail.human_attribute_name(:order)
    %th= OrderDetail.human_attribute_name(:unit_price)
    %th= OrderDetail.human_attribute_name(:quantity)
    %th
    %th
    %th

  - @order_details.each do |order_detail|
    %tr
      %td= order_detail.product_id
      %td= order_detail.order_id
      %td= order_detail.unit_price
      %td= order_detail.quantity
      %td= link_to 'Show', order_detail
      %td= link_to 'Edit', edit_order_detail_path(order_detail)
      %td= link_to 'Destroy', order_detail, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Order detail', new_order_detail_path
