%p#notice= notice

%p
  %b= @order_detail.class.human_attribute_name(:product)
  \:
  = @order_detail.product_id
%p
  %b= @order_detail.class.human_attribute_name(:order)
  \:
  = @order_detail.order_id
%p
  %b= @order_detail.class.human_attribute_name(:unit_price)
  \:
  = @order_detail.unit_price
%p
  %b= @order_detail.class.human_attribute_name(:quantity)
  \:
  = @order_detail.quantity

= link_to 'Edit', edit_order_detail_path(@order_detail)
\|
= link_to 'Back', order_details_path
