= form_for @delivery do |f|
  -if @delivery.errors.any?
    #error_explanation
      %h2= "#{pluralize(@delivery.errors.count, "error")} prohibited this delivery from being saved:"
      %ul
        - @delivery.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :order_id
    = f.number_field :order_id
  .field
    = f.label :delivered_at
    = f.datetime_select :delivered_at
  .actions
    = f.submit 'Save'
