%p#notice= notice

%p
  %b= @delivery.class.human_attribute_name(:order)
  \:
  = @delivery.order_id
%p
  %b= @delivery.class.human_attribute_name(:delivered_at)
  \:
  = @delivery.delivered_at

= link_to 'Edit', edit_delivery_path(@delivery)
\|
= link_to 'Back', deliveries_path
