%p#notice= notice

%p
  %b= @bill.class.human_attribute_name(:order)
  \:
  = @bill.order_id
%p
  %b= @bill.class.human_attribute_name(:sent_at)
  \:
  = @bill.sent_at

= link_to 'Edit', edit_bill_path(@bill)
\|
= link_to 'Back', bills_path
