= form_for @customer do |f|
  -if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :account_id
    = f.number_field :account_id
  .field
    = f.label :customer_name
    = f.text_field :customer_name
  .field
    = f.label :company_name
    = f.text_field :company_name
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :zip_code
    = f.text_field :zip_code
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :fax
    = f.text_field :fax
  .actions
    = f.submit 'Save'
