= form_for @customer do |f|
  -if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'

  - account = @customer.account || @customer.build_account
  = f.fields_for :account, account do |account_field|
    .field
      = account_field.label :login
      = account_field.text_field :login
      - accounts_roles = account.accounts_roles.empty? ? account.accounts_roles.new(role_id:Role::RoleCustomer.first.id) : account.accounts_roles
      = account_field.fields_for :accounts_roles do |account_role_field|
        = account_role_field.hidden_field :role_id
    .field
      = account_field.label :password
      = account_field.text_field :password

  .field
    = f.label :customer_name
    = f.text_field :customer_name
  .field
    = f.label :company_name
    = f.text_field :company_name
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :zip_code
    = f.text_field :zip_code
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :fax
    = f.text_field :fax
  .actions
    = f.submit 'Save'
