%h1 Listing customers

%table
  %tr
    %th= Customer.human_attribute_name(:account)
    %th= Customer.human_attribute_name(:customer_name)
    %th= Customer.human_attribute_name(:company_name)
    %th= Customer.human_attribute_name(:location)
    %th= Customer.human_attribute_name(:zip_code)
    %th= Customer.human_attribute_name(:phone)
    %th= Customer.human_attribute_name(:fax)
    %th
    %th
    %th

  - @customers.each do |customer|
    %tr
      %td= customer.account_id
      %td= customer.customer_name
      %td= customer.company_name
      %td= customer.location
      %td= customer.zip_code
      %td= customer.phone
      %td= customer.fax
      %td= link_to 'Show', customer
      %td= link_to 'Edit', edit_customer_path(customer)
      %td= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Customer', new_customer_path
