%h1 お客様情報設定画面

.breadcrumbs
  = link_to 'Chumon メニュー', '/top'
  &raquo;
  %span.string ご注文詳細画面

.actions
  = link_to 'Edit', edit_customer_path(@customer)

%p#notice= notice

= render @customer.account

%p
  %b= @customer.class.human_attribute_name(:customer_name)
  \:
  = @customer.customer_name
%p
  %b= @customer.class.human_attribute_name(:company_name)
  \:
  = @customer.company_name
%p
  %b= @customer.class.human_attribute_name(:location)
  \:
  = @customer.location
%p
  %b= @customer.class.human_attribute_name(:zip_code)
  \:
  = @customer.zip_code
%p
  %b= @customer.class.human_attribute_name(:phone)
  \:
  = @customer.phone
%p
  %b= @customer.class.human_attribute_name(:fax)
  \:
  = @customer.fax
