- products = Product.all

= form_for @order do |f|
  -if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :order_code
    = f.text_field :order_code, readonly:true

  .actions
    %input{type:'button', value:'保存', onclick:'submit()'}

  %hr

  .field
    = f.label :company_name
    = f.text_field :company_name, readonly:true
  .field
    = f.label :customer_name
    = f.text_field :customer_name, readonly:true
  .field
    = f.label :company_phone
    = f.text_field :company_phone, readonly:true
  .field
    = f.label :company_fax
    = f.text_field :company_fax, readonly:true
  .field
    = f.label :company_zip_code
    = f.text_field :company_zip_code, readonly:true
  .field
    = f.label :company_location
    = f.text_field :company_location, readonly:true
  .field
    = f.label :delivery_place
    = f.text_field :delivery_place
  .field
    = f.label :delivering_at
    = f.text_field :delivering_at
  .field
    = f.label :note
    = f.text_area :note

  .actions
    %input{type:'button', value:'保存', onclick:'submit()'}

  %hr

  %table
    %thead
      %tr
        %th= OrderDetail.human_attribute_name(:product)
        %th= OrderDetail.human_attribute_name(:product_type_number)
        %th= OrderDetail.human_attribute_name(:unit_price)
        %th= OrderDetail.human_attribute_name(:quantity)
        %th= OrderDetail.human_attribute_name(:product_unit)
        %th= OrderDetail.human_attribute_name(:subtotal)
    %tbody{id:'order_details'}
      = f.fields_for :order_details do |order_detail_field|
        - order_detail = order_detail_field.object
        - product = order_detail.product
        %tr
          %td
            = order_detail_field.hidden_field :id
            = order_detail_field.hidden_field :product_name, class:'product_name'
            = order_detail_field.select :product_id, [[]].concat(products.collect {|product| [product.name, product.id]}), {}, class:'product_id'
          %td= order_detail_field.text_field :product_type_number, readonly:true, class:'product_type_number', size:nil
          %td= order_detail_field.text_field :unit_price, readonly:true, class:'unit_price', size:nil
          %td= order_detail_field.text_field :quantity, class:'quantity', size:nil
          %td= order_detail_field.text_field :product_unit, readonly:true, class:'product_unit', size:nil
          %td= text_field_tag nil, order_detail.subtotal, readonly:true, class:'subtotal', size:nil
    %tfoot
      %tr
        %td
        %td
        %td
        %td
        %td
        %td= text_field_tag nil, @order.total, class:'total', size:nil

  %span{id:'add_order'}
    [+]

  %hr

  .actions
    %input{type:'button', value:'保存', onclick:'submit()'}


:javascript
  products = function () {
    return #{products.collect { |product| product.attributes }.to_json};
  }
