%h1 ご注文変更画面

.breadcrumbs
  = link_to 'Chumon メニュー', '/top'
  &raquo;
  = link_to 'ご注文一覧画面', :orders
  &raquo;
  %span.string ご注文変更画面

= link_to 'Show', @order
\|
= link_to 'Back', orders_path

= render 'form'

= link_to 'Show', @order
\|
= link_to 'Back', orders_path
