%p#notice= notice

%p
  %b= @order.class.human_attribute_name(:account)
  \:
  = @order.account_id
%p
  %b= @order.class.human_attribute_name(:order_code)
  \:
  = @order.order_code
%p
  %b= @order.class.human_attribute_name(:customer_zip_code)
  \:
  = @order.customer_zip_code
%p
  %b= @order.class.human_attribute_name(:constmer_location)
  \:
  = @order.constmer_location
%p
  %b= @order.class.human_attribute_name(:delivery_place)
  \:
  = @order.delivery_place
%p
  %b= @order.class.human_attribute_name(:delivering_at)
  \:
  = @order.delivering_at
%p
  %b= @order.class.human_attribute_name(:customer_name)
  \:
  = @order.customer_name
%p
  %b= @order.class.human_attribute_name(:company_name)
  \:
  = @order.company_name
%p
  %b= @order.class.human_attribute_name(:company_location)
  \:
  = @order.company_location
%p
  %b= @order.class.human_attribute_name(:company_zip_code)
  \:
  = @order.company_zip_code
%p
  %b= @order.class.human_attribute_name(:company_phone)
  \:
  = @order.company_phone
%p
  %b= @order.class.human_attribute_name(:company_fax)
  \:
  = @order.company_fax

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
