%h1 Listing credits

%table
  %tr
    %th= Credit.human_attribute_name(:order)
    %th= Credit.human_attribute_name(:credited_at)
    %th
    %th
    %th

  - @credits.each do |credit|
    %tr
      %td= credit.order_id
      %td= credit.credited_at
      %td= link_to 'Show', credit
      %td= link_to 'Edit', edit_credit_path(credit)
      %td= link_to 'Destroy', credit, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Credit', new_credit_path
