%p#notice= notice

%p
  %b= @credit.class.human_attribute_name(:order)
  \:
  = @credit.order_id
%p
  %b= @credit.class.human_attribute_name(:credited_at)
  \:
  = @credit.credited_at

= link_to 'Edit', edit_credit_path(@credit)
\|
= link_to 'Back', credits_path
