%p#notice= notice

%p
  %b= @accounts_role.class.human_attribute_name(:account)
  \:
  = @accounts_role.account_id
%p
  %b= @accounts_role.class.human_attribute_name(:role)
  \:
  = @accounts_role.role_id

= link_to 'Edit', edit_accounts_role_path(@accounts_role)
\|
= link_to 'Back', accounts_roles_path
