%h1 納品一覧画面

.breadcrumbs
  = link_to 'Chumon メニュー', '/top'
  &raquo;
  %span.strong 納品一覧画面

.actions
  = form_tag :orders, method: :get do
    = text_field_tag :q, params[:q]
    = submit_tag '検索'

%hr

%table
  %tr
    %th= Order.human_attribute_name(:status)
    %th= Order.human_attribute_name(:order_code)
    %th= Order.human_attribute_name(:ordered_at)
    %th= Order.human_attribute_name(:delivering_at)
    %th= Order.human_attribute_name(:created_at)
    %th= Order.human_attribute_name(:updated_at)
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td
        %span{class:order.status}= t("management_status.#{order.status}")
      %td= order.order_code
      %td= l(order.ordered_at, format: :date_only) if order.ordered_at
      %td= order.delivering_at
      %td= l(order.created_at, format: :date_only) if order.created_at
      %td= l(order.updated_at, format: :date_only) if order.updated_at
      %td= link_to 'Show', delivering_order_path(order)
