= form_for @credited_order do |f|
  -if @credited_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@credited_order.errors.count, "error")} prohibited this credited_order from being saved:"
      %ul
        - @credited_order.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
