%h1 Listing products

%table
  %tr
    %th= Product.human_attribute_name(:name)
    %th= Product.human_attribute_name(:unit)
    %th= Product.human_attribute_name(:type_number)
    %th= Product.human_attribute_name(:unit_price)
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.unit
      %td= product.type_number
      %td= product.unit_price
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product', new_product_path
