%h1 商品管理画面

.breadcrumbs
  = link_to 'Chumon メニュー', '/top'
  &raquo;
  %span.strong 商品管理画面

.actions
  = link_to '商品登録', new_product_path

%hr

%table
  %tr
    %th= Product.human_attribute_name(:name)
    %th= Product.human_attribute_name(:type_number)
    %th= Product.human_attribute_name(:unit_price)
    %th= Product.human_attribute_name(:unit)
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.type_number
      %td= product.unit_price
      %td= product.unit
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br
