%h1 商品詳細画面

.breadcrumbs
  = link_to 'Chumon メニュー', '/top'
  &raquo;
  = link_to '商品管理画面', :products
  &raquo;
  %span.strong 商品詳細画面

%p#notice= notice

= link_to '商品変更', edit_product_path(@product)

%p
  %b= @product.class.human_attribute_name(:name)
  \:
  = @product.name
%p
  %b= @product.class.human_attribute_name(:unit)
  \:
  = @product.unit
%p
  %b= @product.class.human_attribute_name(:type_number)
  \:
  = @product.type_number
%p
  %b= @product.class.human_attribute_name(:unit_price)
  \:
  = @product.unit_price
