%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Unit:
  = @product.unit
%p
  %b Type number:
  = @product.type_number
%p
  %b Unit price:
  = @product.unit_price

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
