%p#notice= notice

%p
  %b= @product.class.human_attribute_name(:name)
  \:
  = @product.name
%p
  %b= @product.class.human_attribute_name(:unit)
  \:
  = @product.unit
%p
  %b= @product.class.human_attribute_name(:type_number)
  \:
  = @product.type_number
%p
  %b= @product.class.human_attribute_name(:unit_price)
  \:
  = @product.unit_price

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
