!!!
%html
  %head
    %title Chumon
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 Chumon
    .current_user
      = current_user.login
    .logout
      = link_to 'ログアウト', '/logout', method: :delete
    = yield
