%h1 アカウント一覧

.breadcrumbs
  = link_to 'Chumon メニュー', '/top'
  &raquo;
  %span.strong アカウント一覧

.actions
  = link_to 'アカウント登録', new_account_path

%hr

%table
  %tr
    %th= Account.human_attribute_name(:login)
    %th= Account.human_attribute_name(:password)
    %th
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td= account.login
      %td= account.password
      %td= link_to 'Show', account
      %td= link_to 'Edit', edit_account_path(account)
      %td= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete

