%p#notice= notice

%p
  %b= @account.class.human_attribute_name(:login)
  \:
  = @account.login
%p
  %b= @account.class.human_attribute_name(:password)
  \:
  = @account.password

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
