%h1 アカウント詳細画面

%p#notice= notice

.breadcrumbs
  = link_to 'Chumon メニュー', '/top'
  &raquo;
  = link_to 'アカウント一覧画面', :accounts
  &raquo;
  %span.strong アカウント詳細画面

= link_to 'Edit', edit_account_path(@account)

= render partial:@account

%p
  %b= @account.class.human_attribute_name(:roles)
  \:
  %ul
    - @account.roles.each do |role|
      %li= role.name

